@tailwind base;
@tailwind components;
@tailwind utilities;

#withdrawbtn {
  background: linear-gradient(101.43deg, #00b2ff -2.83%, #194886 73.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

#topupbtn {
  background-color: #122746;
}

td {
  text-align: center;
}

.icon-col {
  width: 0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #376db3;
  }
}
